$bar-width: 30px;
$bar-wide: 3px;
$bar-gap: 0.4em;
$bar-radius: $bar-wide;
$transition-duration: 0.2s;

// Rotated
$bar-rotation: 35deg;
$side-bar-width: 20px;
$sidebar-pos-left: -0.1em;
$sidebar-far-from-center: 0.37em;
// // top bar
// // bottom bar


// Container
.burger {
  width: $bar-width;
	height: $bar-width;
  display: flex;
	cursor: pointer;
}
// Basic bar
.icon-menu__bar {
	background: $col-oscuro;
	width: $bar-width;
	height: $bar-wide;
  margin: auto;
	border-radius: $bar-radius;
	position: relative;
}

.icon-menu__bar::before,
.icon-menu__bar::after {
	content: '';
	width: $bar-width;
	height: $bar-wide;
	background: $col-oscuro;
	border-radius: $bar-radius;
	display: block;
	position: absolute;
	-webkit-transition: all $transition-duration ease;
	transition: all $transition-duration ease;
}
// top bar
.icon-menu__bar::before {
  top: -$bar-gap;
}
// bottom bar
.icon-menu__bar::after {
	top: $bar-gap;
}

// ----- Rotated ------
.icon-menu__bar--left-arrow::before,
.icon-menu__bar--left-arrow::after {
	width: $side-bar-width;
  left: $sidebar-pos-left;
}
// Top bar
.icon-menu__bar--left-arrow::before {
  top: -$sidebar-far-from-center;
  -webkit-transform: rotate(-$bar-rotation);
  transform: rotate(-$bar-rotation);
}
// Bottom bar
.icon-menu__bar--left-arrow::after {
	top: $sidebar-far-from-center;
	-webkit-transform: rotate($bar-rotation);
	transform: rotate($bar-rotation);
}